* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E6FFBB;
    font-family: Arial, Helvetica, sans-serif;
}

/* até 1024 - celular e tablets*/
@media screen and (max-width: 767px) {

    #wrapper {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    nav {
        width: auto;
        height: 200px;
    }

    section {
        width: auto;
        height: 65vh;
    }

    /* CODIGOS RELACIONADOS À SEGUNDA TELA */

    #grama {
        
        position: relative;
        display: block;
        width: 100%;
        clear: both;
        height: 20vh;
        background-image: url(../imagens/grama_m.svg);
        background-repeat: repeat-x;

    }

    #ods {
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    #odsintro {
        text-align: center;
        color: #2B8E2D;
        position: relative;
        width: 75vw;
        height: 100%;
        padding-left: 12vw;
        padding-right: 13vw;
        padding-top: 10vh;
        float: right;
        margin-bottom: 80px

    }

    p.subtitulo {

        font-family: 'Ruda', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 30px;

    }

    /* como centralizar isso */
    h2 {

        font-size: 32px;
        text-align: center;
    }

    footer {
        color: #E6FFBB;
        background-color: #2B8E2D;
        position: relative;
        clear: both;
        width: 100%;
        height: 300px;
    }

    div.footer {

        text-align: left;
        padding-left: 12vw;
        padding-top: 20px;
    }

    div.ftab {

        width: 40vw;
        height: 130px;
        float: left;
        display: block;

    }

    h6 {

        font-weight: bold;
        font-size: 12pt;

    }


    nav {
        position: fixed;
        z-index: 8;
        width: 100%;
        height: 80px;
        top: 0;
        left: 0;
        background-color: #E6FFBB;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }

    a:link.foot {
        color: #E6FFBB;
        text-decoration: none;
    }

    a:visited.foot {
        color: #E6FFBB;
        text-decoration: none;
    }

    a:hover.foot {

        color: #E6FFBB;
        text-decoration: wavy;

    }

    #brand {

        float: left;
        display: fixed;
        width: 10vw;
        height: 15vh;
        padding-left: 10%;
    }

    #logo {

        z-index: 10;
        border-radius: 4px;
        width: 40px;
        position: fixed;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;

    }

    /* CODIGOS RELACIONADOS À PRIMEIRA TELA */
    #apresentacao {
        color: #2B8E2D;
        position: relative;
        width: 70vw;
        height: 50vh;
        padding-top: 50vh;
        padding-left: 15vw;
        float: left;
        margin-bottom: 95px;
    }

    p.apresentacao {

        font-family: 'Ruda', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        line-height: 22px;
        text-align: center;

    }

    h1 {
        font-family: 'Ruda', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        line-height: 30px;
        text-align: center;
    }

    p {

        font-family: 'Ruda', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        line-height: 22px;
        text-align: center;

    }

    p.footer {

        font-family: 'Ruda', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left;

    }

    section.inicio {
        width: 80vw;
        height: auto;
    }

    div.baixo {

        color: #E6FFBB;
        background-color: #E6FFBB;
        border-radius: 5%;
        width: 70vw;
        height: 30px;
        display: inline-block;
        text-align: center;
        margin-top: 10px;

    }

    img.baixo {
        height: 20px;
        width: 20px;
        background-color: #ebedec;

    }

    #bola {

        width: 200px;
        height: 230px;
        position: absolute;
        top: 14vh;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        background-color: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;

    }


    #gafanhoto_um {

        width: 200px;
        height: auto;
        position: relative;
        aspect-ratio: auto;

    }

    #gafanhoto_dois {

        width: 150px;
        height: auto;
        position: relative;
        aspect-ratio: auto;
        margin-top: 35px;

    }
}

a:link.botao {
    color: #E6FFBB;
    text-decoration: none;
}

a:visited.botao {
    color: #E6FFBB;
    text-decoration: none;
}

p.claro {

    color: #E6FFBB;
    background-color: #2B8E2D;
    border-radius: 5%;
    width: 70vw;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin-top: 45px;
}

/* CODIGOS RELACIONADOS À NEWSLETTER */


section.newsletter {

    background-color: #2B8E2D;
    width: 100%;
    height: 250px;
    clear: both;
    vertical-align: middle;


}

h3 {
    width: 30vw;
    color: #E6FFBB;
    text-align: left;
    padding-top: 25px;

}

p.newsletter {
    width: 30vw;
    color: #E6FFBB;
    font-size: 11pt;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: left;
}


/* pq q essa praga nao ta floatando*/

div.convite {

    display: block;
    height: 100px;
    float: left;
    width: 25vw;
    margin-left: 15vw;

}

div.forma {
    display: block;
    width: 35vw;
    height: 100px;
    margin-right: 15vw;
    text-align: right;
    float: right;
    color: #E6FFBB;
    padding-top: 40px;

}

label {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;

}

input#email {

    width: 60%;
    margin-top: 10px
}


#mundial {
    width: 80vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#mundtexto {
    text-align: right;
    color: #2B8E2D;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 17vw;
    padding-top: 10vh;
    float: right;
    margin-bottom: 80px

}

#subir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 10;
}


/* 1024 em diante - desktops ou qualquer outras telas maiores */
@media screen and (min-width:767px) {

    #wrapper {
        width: 100%;
        height: 100vh;
        position: absolute;
    }

    /* CODIGOS RELACIONADOS À NAVEGAÇÃO */
    nav {
        position: relative;
        width: 100%;
        height: 80px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }

    a:link.foot {
        color: #E6FFBB;
        text-decoration: none;
    }

    a:visited.foot {
        color: #E6FFBB;
        text-decoration: none;
    }

    a:hover.foot {

        color: rgb(203, 255, 112);

    }

    #brand {

        float: left;
        display: block;
        width: 10vw;
        height: 10vh;
        padding-left: 10%;
    }

    #logo {

        z-index: 10;
        border-radius: 4px;
        width: 50px;
        position: absolute;
        left: 50px;
        top: 20px;

    }

    ul {
        padding: 15%;
        padding-top: 20px;
        text-align: center;
        list-style-type: none;
        overflow: hidden;
        margin-right: 10%;
    }


    li {
        float: left;
        display: block;
    }

    li a {
        display: block;
        color: #2B8E2D;
        text-align: center;
        padding: 12px;
        margin-left: 20px;
        text-decoration: none;
    }

    .menu {
        display: flex;
    }

    ul li:last-child {

        position: absolute;
        right: 10%;

    }

    #subir {
        position: fixed;
        bottom: 50px;
        right: 50px;
        width: 50px;
        height: 50px;
        background-color: #2B8E2D;
        border-radius: 100%;
        z-index: 10;
    }

    /* CODIGOS RELACIONADOS À PRIMEIRA TELA */
    #apresentacao {
        color: #2B8E2D;
        position: relative;
        width: 35vw;
        height: 60vh;
        padding-left: 17vw;
        padding-top: 15vh;
        float: left;
        margin-bottom: 120px;
    }

    h1 {
        font-family: 'Ruda', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        line-height: 30px;
    }

    p.apresentacao {

        font-family: 'Ruda', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        line-height: 22px;
        text-align: left;

    }

    p {

        font-family: 'Ruda', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        line-height: 22px;
        text-align: center;

    }

    section.inicio {
        width: 100%;
        height: auto;
    }

    #bola {

        width: 25vw;
        height: auto;
        position: relative;
        margin-top: 100px;
        margin-left: 10vw;
        margin-right: 10vw;
        float: right;
        border-radius: 50%;
        background-color: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
    }


    #gafanhoto_um {

        width: 30vw;
        height: auto;
        position: relative;
        aspect-ratio: auto;

    }


    #gafanhoto_dois {

        width: 10vw;
        height: auto;
        position: relative;
        aspect-ratio: auto;
        margin-top: 35px;

    }

    a:link.botao {
        color: #E6FFBB;
        text-decoration: none;
    }

    a:visited.botao {
        color: #E6FFBB;
        text-decoration: none;
    }

    /* COMO QUE FAZ PRA CENTRALIZAR NESSE FUNDOOOOOOOOOO */

    p.claro {

        color: #E6FFBB;
        background-color: #2B8E2D;
        border-radius: 5%;
        width: 35vw;
        height: 45px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
        margin-top: 45px;
    }

    div.baixo {

        color: #E6FFBB;
        background-color: #E6FFBB;
        border-radius: 5%;
        width: 35vw;
        height: 30px;
        display: inline-block;
        text-align: center;
        margin-top: 10px;

    }

    img.baixo {
        height: 20px;
        width: 20px;
        background-color: #ebedec;
    }

    #grama {
        
        position: relative;
        display: block;
        width: 100%;
        clear: both;
        height: 17vh;
        background-image: url(../imagens/grama_m.svg);
        background-repeat: repeat-x;


    }

    /* CODIGOS RELACIONADOS À SEGUNDA TELA */


    #ods {
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    #odsintro {
        text-align: center;
        color: #2B8E2D;
        position: relative;
        width: 70vw;
        height: 100%;
        font-size: 1em;
        padding-right: 15vw;
        padding-left: 15vw;
        padding-top: 10vh;
        float: right;
        margin-bottom: 80px

    }

    p.subtitulo {

        font-family: 'Ruda', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 30px;

    }


    /* como centralizar isso */
    h2 {

        font-size: 32px;
        text-align: center;
    }

    /* CODIGOS RELACIONADOS À NEWSLETTER */


    section.newsletter {

        background-color: #2B8E2D;
        width: 100%;
        height: 200px;
        clear: both;
        vertical-align: middle;

    }

    h3 {
        width: 30vw;
        color: #E6FFBB;
        text-align: left;
        padding-top: 25px;

    }

    p.newsletter {
        width: 30vw;
        color: #E6FFBB;
        font-size: 11pt;
        padding-top: 10px;
        padding-bottom: 15px;
    }


    /* pq q essa praga nao ta floatando*/

    div.convite {

        display: block;
        height: 100px;
        float: left;
        width: 25vw;
        margin-left: 15vw;

    }

    div.forma {
        display: block;
        width: 35vw;
        height: 100px;
        margin-right: 15vw;
        text-align: right;
        float: right;
        color: #E6FFBB;
        padding-top: 40px;

    }

    label {
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 5px;

    }

    input#email {

        width: 60%;
        margin-top: 10px
    }

    /* CODIGOS RELACIONADOS À TERCEIRA TELA */

    #mundial {
        width: 80vw;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    #mundtexto {
        text-align: right;
        color: #2B8E2D;
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: 17vw;
        padding-top: 10vh;
        float: right;
        margin-bottom: 80px

    }

    aside {
        width: 20vw;
        height: 70vh;
        float: left;
    }

    /* CODIGOS RELACIONADOS AO FOOTER */

    footer {
        color: #E6FFBB;
        background-color: #2B8E2D;
        position: relative;
        clear: both;
        width: 100%;
        height: 22vh;
    }

    div.footer {

        text-align: left;
        padding-left: 17vw;
        padding-top: 20px;
    }

    div.ftab {

        width: 18vw;
        height: 13vh;
        float: left;

    }

    h6 {

        font-weight: bold;
        font-size: 12pt;

    }

    p.footer {

        font-family: 'Ruda', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left;

    }
}